.song {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: solid 1px black;
  margin-bottom: 5%;
}

.artist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: solid 1px black;
  margin-bottom: 5%;
}
